footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 50px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color:black;
    text-align: center;
  }
  .btn-primary {
      margin-top: 4px;
      margin-bottom: 10px;
  }
  .container {
      text-align: center;
      border: 1px solid black;
box-shadow: 2px 2px 2px black;
  }
  .jumbotron {
      text-align: center;
      background-color: maroon;
      color: white;
  }